<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple Photo Blog</title>
</head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://localhost:8070/">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="https://localhost:8070/upload">UPLOAD (only when logged in)</a>
            </li>
        {{if .IsLogged}}
            <li class="nav-item">
                <a class="nav-link" href="https://localhost:8070/logout">LOG OUT</a>
            </li>
        {{else}}
            <li class="nav-item ">
                <a class="nav-link" href="https://localhost:8070/login">LOG IN</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="https://localhost:8070/register">REGISTER</a>
            </li>
        {{end}}
        </ul>
    </div>
</nav>
    <h1>LOG IN</h1>
    <form method="post" action="https://localhost:8070/login">
        <h3>Username</h3>
        <input type="text" name="userName" id="userName">
        <h3>Password</h3>
        <input type="text" name="password" id="password">
        <br>
        <input type="submit">
        <input type="submit" name="logout" value="logout">
    </form>
</body>
</html>